/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Noto Sans';
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

//https://stackoverflow.com/a/53196426/845210
.remove-padding .mat-expansion-panel-body {
  padding-bottom: 0;
}

.remove-padding .mat-expansion-panel-header {
  padding-bottom: 0;
}


.main-mat-card {
    padding: 5px;
    border-radius: 0;
    max-width: 820px;
    margin: auto;
}

.field-with-units {
  position: relative;
  display: inline-block;
  min-width: 45%;
  max-width: 100%;
  flex: auto;

  .units-button {
    right: 0;
    top: 10%;
    position: absolute;

    .mat-button {
      background: transparent;
      font-weight: 700;
      font-size: 14px;
    }

    .mat-button:hover {
      background: transparent;
    }
  }
}

/* remove the background of input fields to give them the 'standard' appearance instead of filled */
.dark-theme .mat-form-field-appearance-fill .mat-form-field-flex,
.dark-theme .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex,
.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: unset;
}
