<mat-toolbar class="header">
  <mat-toolbar-row>
    <a href="{{config && config.skaoHomepage}}" target="_blank" class="logo" aria-label="SKAO Home Page">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 28 70 100"
        alt="SKAO logo"
        class="logoImg ng-star-inserted"
      >
        <defs>
          <linearGradient id="RadialGradient" gradientTransform="rotate(6)">
            <stop offset="0%" style="stop-color:#070068;" />
            <stop offset="39%"  style="stop-color:#070068;" />
            <stop offset="52%"  style="stop-color:#E70068;" />
            <stop offset="56%"  style="stop-color:#E70068;" />
            <stop offset="71%"  style="stop-color:#070068;" />
            <stop offset="100%"  style="stop-color:#070068;" />
          </linearGradient>
        </defs>
        <g>
          <path *ngIf="!isDarkMode()"
          d="m211.037 53.561-5.973 20.61 19.043-13.9a.434.434 0 0 1 .554.647l-21.407 22.305c4.7 1.822 11.831 4.092 15.235 5.152l1.94.6 3.491-13.766 1.893-7.444 6.013 22.3.017.073c-7.014 2.118-17.962 5.385-23.531 7.166a33.946 33.946 0 0 0-5.02 2.007l8.548 12.926a.433.433 0 0 1-.647.552l-11.826-10.526a15.855 15.855 0 0 0-2.87 5.5c-1.281 4-2.493 8.03-3.735 12.046l-1.864 6.033v.008l-.548 1.756c-.17.55-.4 1.216-.577 1.778-.982-3.181-2-6.56-2.917-9.514-1.241-4.016-2.454-8.042-3.734-12.046a16.834 16.834 0 0 0-2.316-4.789l-11.137 6.694a.434.434 0 0 1-.553-.647l7.5-9.555a33.111 33.111 0 0 0-5.311-2.158c-6.253-2-12.555-3.863-19.184-5.879 6.629-2.018 12.93-3.88 19.184-5.88a30.64 30.64 0 0 0 6.276-2.693 10.445 10.445 0 0 0 2.368-1.923l-9.86-13.694a.434.434 0 0 1 .613-.591l11.941 9.779q.258-.659.477-1.342c1.28-4 2.493-8.029 3.734-12.046q1.426-4.611 2.966-9.57h-20.161c-1.114 3.62-2.2 7.178-3.353 10.784-1.013 3.169-2.62 6.032-5.538 7.762a30.63 30.63 0 0 1-6.277 2.693c-4.216 1.349-8.463 2.636-12.808 3.949v-2.439h-.008V53.532h-19.584v76.073h19.584v-25.363c4.348 1.313 8.6 2.6 12.816 3.95a30.666 30.666 0 0 1 6.277 2.693 10.639 10.639 0 0 1 3.035 2.722l1.114 1.723a19.008 19.008 0 0 1 1.389 3.318c1.154 3.607 3.4 10.957 3.4 10.957h40.181c1.107-3.6 2.274-7.434 3.421-11.017 1.014-3.169 2.62-6.032 5.538-7.762a30.645 30.645 0 0 1 6.277-2.693 814.422 814.422 0 0 1 10.532-3.3l.526 1.944 6.07 22.823h20.5l-22.569-76.039Zm88.1-1.743h-.119c-23.292 0-39.79 16.428-39.8 39.649 0 23.19 16.6 39.79 39.823 39.8 23.266.013 39.864-16.5 39.922-39.713.06-23.269-16.387-39.68-39.826-39.736Zm-31.984 19.488a1.516 1.516 0 1 1 1.525 1.508h-.008a1.516 1.516 0 0 1-1.517-1.508Zm2.295 12.122h-.008a1.512 1.512 0 1 1 .008 0Zm29.605 30.5h-.07c-12.273-.034-20.1-8.682-20.174-22.28-.072-13.92 7.9-22.557 20.644-22.371 12.275.179 20.136 9.052 19.936 22.506-.199 13.5-8.144 22.145-20.336 22.146Zm-190.98-24.39c-5.514-4.309-13.546-6.506-24.535-9.92a14.085 14.085 0 0 1-5.462-2.549c-.008-.007-.013-.015-.022-.022a4.815 4.815 0 0 1-1.433-2.018c-.034-.088-.071-.176-.1-.264-.02-.071-.043-.141-.059-.214a4.914 4.914 0 0 1 .585-3.711l.073-.1c3.007-4.626 20.935-.015 27.217 1.771l2.5.583 6.184-15.632a71.909 71.909 0 0 0-28.379-5.614c-21.834 0-32.448 7.965-32.448 24.35a20.238 20.238 0 0 0 1.457 7.774 21.047 21.047 0 0 0 4.063 6.328 25.884 25.884 0 0 0 6.215 4.843 35.234 35.234 0 0 0 7.831 3.234 90.219 90.219 0 0 0 6.622 1.832A68.521 68.521 0 0 1 85 102.121a23.278 23.278 0 0 1 5.13 2.433 4.491 4.491 0 0 1 2.3 3.818 4.227 4.227 0 0 1-1.065 3.006 6.274 6.274 0 0 1-2.593 1.6 14.13 14.13 0 0 1-3.517.665 56.63 56.63 0 0 1-4 .138 24.015 24.015 0 0 1-3.044-.225q-1.7-.22-3.584-.524t-3.774-.691l-3.5-.714-8.542-1.915-6.034 16.088c8.641 3.647 18.787 5.5 30.168 5.5a56.443 56.443 0 0 0 14.128-1.626 29.244 29.244 0 0 0 10.431-4.855 21.258 21.258 0 0 0 6.47-8.142 28.019 28.019 0 0 0 2.262-11.7c.001-6.013-2.745-11.204-8.163-15.439Zm106.836-11.045h-.009a1.512 1.512 0 1 1 .008 0Zm-31.482-17.644a1.516 1.516 0 0 1 .016 3.032h-.008a1.516 1.516 0 0 1-.008-3.032ZM147.883 82.28a1.512 1.512 0 1 1 .008 0Zm1.533 15.16h-.008a1.513 1.513 0 1 1 .008 0Zm10.753 10.333h-.008a1.512 1.512 0 1 1 .008 0Zm10.356-8.863a1.516 1.516 0 1 1 .016 3.032h-.008a1.516 1.516 0 0 1-.008-3.032Zm2.872 25.366h-.008a1.512 1.512 0 1 1 .008 0Zm4.854-2.673h-.008a1.512 1.512 0 1 1 .008 0Z"
          transform="translate(-45 -15)"
          fill="url(#RadialGradient)"
          />
          <path *ngIf="isDarkMode()"
            d="m211.037 53.561-5.973 20.61 19.043-13.9a.434.434 0 0 1 .554.647l-21.407 22.305c4.7 1.822 11.831 4.092 15.235 5.152l1.94.6 3.491-13.766 1.893-7.444 6.013 22.3.017.073c-7.014 2.118-17.962 5.385-23.531 7.166a33.946 33.946 0 0 0-5.02 2.007l8.548 12.926a.433.433 0 0 1-.647.552l-11.826-10.526a15.855 15.855 0 0 0-2.87 5.5c-1.281 4-2.493 8.03-3.735 12.046l-1.864 6.033v.008l-.548 1.756c-.17.55-.4 1.216-.577 1.778-.982-3.181-2-6.56-2.917-9.514-1.241-4.016-2.454-8.042-3.734-12.046a16.834 16.834 0 0 0-2.316-4.789l-11.137 6.694a.434.434 0 0 1-.553-.647l7.5-9.555a33.111 33.111 0 0 0-5.311-2.158c-6.253-2-12.555-3.863-19.184-5.879 6.629-2.018 12.93-3.88 19.184-5.88a30.64 30.64 0 0 0 6.276-2.693 10.445 10.445 0 0 0 2.368-1.923l-9.86-13.694a.434.434 0 0 1 .613-.591l11.941 9.779q.258-.659.477-1.342c1.28-4 2.493-8.029 3.734-12.046q1.426-4.611 2.966-9.57h-20.161c-1.114 3.62-2.2 7.178-3.353 10.784-1.013 3.169-2.62 6.032-5.538 7.762a30.63 30.63 0 0 1-6.277 2.693c-4.216 1.349-8.463 2.636-12.808 3.949v-2.439h-.008V53.532h-19.584v76.073h19.584v-25.363c4.348 1.313 8.6 2.6 12.816 3.95a30.666 30.666 0 0 1 6.277 2.693 10.639 10.639 0 0 1 3.035 2.722l1.114 1.723a19.008 19.008 0 0 1 1.389 3.318c1.154 3.607 3.4 10.957 3.4 10.957h40.181c1.107-3.6 2.274-7.434 3.421-11.017 1.014-3.169 2.62-6.032 5.538-7.762a30.645 30.645 0 0 1 6.277-2.693 814.422 814.422 0 0 1 10.532-3.3l.526 1.944 6.07 22.823h20.5l-22.569-76.039Zm88.1-1.743h-.119c-23.292 0-39.79 16.428-39.8 39.649 0 23.19 16.6 39.79 39.823 39.8 23.266.013 39.864-16.5 39.922-39.713.06-23.269-16.387-39.68-39.826-39.736Zm-31.984 19.488a1.516 1.516 0 1 1 1.525 1.508h-.008a1.516 1.516 0 0 1-1.517-1.508Zm2.295 12.122h-.008a1.512 1.512 0 1 1 .008 0Zm29.605 30.5h-.07c-12.273-.034-20.1-8.682-20.174-22.28-.072-13.92 7.9-22.557 20.644-22.371 12.275.179 20.136 9.052 19.936 22.506-.199 13.5-8.144 22.145-20.336 22.146Zm-190.98-24.39c-5.514-4.309-13.546-6.506-24.535-9.92a14.085 14.085 0 0 1-5.462-2.549c-.008-.007-.013-.015-.022-.022a4.815 4.815 0 0 1-1.433-2.018c-.034-.088-.071-.176-.1-.264-.02-.071-.043-.141-.059-.214a4.914 4.914 0 0 1 .585-3.711l.073-.1c3.007-4.626 20.935-.015 27.217 1.771l2.5.583 6.184-15.632a71.909 71.909 0 0 0-28.379-5.614c-21.834 0-32.448 7.965-32.448 24.35a20.238 20.238 0 0 0 1.457 7.774 21.047 21.047 0 0 0 4.063 6.328 25.884 25.884 0 0 0 6.215 4.843 35.234 35.234 0 0 0 7.831 3.234 90.219 90.219 0 0 0 6.622 1.832A68.521 68.521 0 0 1 85 102.121a23.278 23.278 0 0 1 5.13 2.433 4.491 4.491 0 0 1 2.3 3.818 4.227 4.227 0 0 1-1.065 3.006 6.274 6.274 0 0 1-2.593 1.6 14.13 14.13 0 0 1-3.517.665 56.63 56.63 0 0 1-4 .138 24.015 24.015 0 0 1-3.044-.225q-1.7-.22-3.584-.524t-3.774-.691l-3.5-.714-8.542-1.915-6.034 16.088c8.641 3.647 18.787 5.5 30.168 5.5a56.443 56.443 0 0 0 14.128-1.626 29.244 29.244 0 0 0 10.431-4.855 21.258 21.258 0 0 0 6.47-8.142 28.019 28.019 0 0 0 2.262-11.7c.001-6.013-2.745-11.204-8.163-15.439Zm106.836-11.045h-.009a1.512 1.512 0 1 1 .008 0Zm-31.482-17.644a1.516 1.516 0 0 1 .016 3.032h-.008a1.516 1.516 0 0 1-.008-3.032ZM147.883 82.28a1.512 1.512 0 1 1 .008 0Zm1.533 15.16h-.008a1.513 1.513 0 1 1 .008 0Zm10.753 10.333h-.008a1.512 1.512 0 1 1 .008 0Zm10.356-8.863a1.516 1.516 0 1 1 .016 3.032h-.008a1.516 1.516 0 0 1-.008-3.032Zm2.872 25.366h-.008a1.512 1.512 0 1 1 .008 0Zm4.854-2.673h-.008a1.512 1.512 0 1 1 .008 0Z"
            transform="translate(-45 -15)"
            fill="#ffffff"
          />
        </g>
      </svg>
    </a>
    <span class="title" *ngFor="let title of config.appTitle">
      <span class="title-style">{{title.name}}</span>
    </span>
    <span class="spacer"></span>
    <div class="rhs-options">
      <div class="mode-toggle">
        <div matTooltip="Select calculator type, Mid or Low?" id="version-selector">
          <mat-button-toggle-group
            aria-label="Mode selector"
            name="calculatorMode"
            (change)="changeCalculatorMode($event.value)">
            <mat-button-toggle class="mode-toggle" value="mid" [checked]="location.path()==='/mid'">
              MID
            </mat-button-toggle>
            <mat-button-toggle class="mode-toggle" value="low" [checked]="location.path()==='/low'">
              LOW
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div
        matTooltip="Toggle the advanced mode on/off"
        [style.visibility]="offerAdvancedMode() ? 'visible' : 'hidden'"
        data-testid="advanced-toggle-div"
      >
        <mat-label style="font-weight: bold;" id="advanced-label">Advanced:&nbsp;</mat-label>
        <mat-label style="padding: 5px">OFF</mat-label>
        <mat-slide-toggle
          (change)="selectAdvancedMode()"
          (keydown.enter)="selectAdvancedMode()"
          [checked]="isAdvancedModeActive"
          name="advancedModeToggle"
          aria-labelledby="advanced-label"
        >
        </mat-slide-toggle>
        <mat-label style="padding: 5px">ON</mat-label>
      </div>
    </div>
    <button mat-icon-button name="theme" aria-label="Theme Selection" (click)="swapTheme()">
      <mat-icon matTooltip="Click to change theme" *ngIf="!isDarkMode()">dark_mode</mat-icon>
      <mat-icon matTooltip="Click to change theme" *ngIf="isDarkMode()">light_mode</mat-icon>
    </button>
    <button mat-icon-button name="documentation" (click)="goToDocumentation()">
      <mat-icon *ngIf="isMidSelected()" matTooltip="Go to MID Calculator documentation" aria-hidden="false" aria-label="Go to MID Calculator documentation">help</mat-icon>
      <mat-icon *ngIf="!isMidSelected()" matTooltip="Go to LOW Calculator documentation" aria-hidden="false" aria-label="Go to LOW Calculator documentation">help</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
