<div class="container">
<div class="skao-spacer"></div>

<div class="mat-app-background">
  <mat-card class="main-mat-card">
    <form [formGroup]="lowForm">
      <div class="layout">
        <div class="common">
          <div class="receptorConfiguration">
            <div class="subarraySelection">
              <mat-form-field floatLabel="always" title="Antenna/subarray selection">
                <mat-label>Subarray Configuration</mat-label>
                <mat-select [formControl]="lowForm.controls.subarray"
                            (selectionChange)="onSelectSubarray($event.value)"
                            required>
                  <mat-option *ngFor="let subarray of subarrays" [value]="subarray">
                    {{subarray.label}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="lowForm.controls.subarray.disabled">
                  Subarray selection not available
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="numStations">
              <mat-form-field
                floatLabel="always">
                <mat-label>Number of Stations</mat-label>
                <!-- required isn't used by reactive forms but is required for accessibility -->
                <input
                  matInput
                  name="numStations"
                  type="number"
                  formControlName="numStations"
                  title="Number of stations"
                  placeholder= "Enter value..."
                  required
                  (ngModelChange)="paramChange()">
                <mat-error *ngIf="numStations?.invalid">
                  {{ getErrorMessage(numStations) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="coords" formGroupName="coordinates">
            <div class="vertical-align">
              Degrees
              <mat-slide-toggle #sexDecToggle (change)="onSexDecChange($event)"
                                matTooltip="Input in sexagesimal format or decimal degrees"
                                aria-label="Input in sexagesimal format or decimal degrees"></mat-slide-toggle>
            </div>
            <div class="rightAscension">
              <mat-form-field
                floatLabel="always">
                <mat-label>Right Ascension</mat-label>
                <input
                  matInput
                  type="text"
                  [attr.placeholder]="raPlaceholder"
                  formControlName="ra"
                  required
                  [attr.title]="raTitle"
                  (ngModelChange)="paramChange()"
                  (blur)="onRaDecBlur('ra')">
                  <span matSuffix *ngIf="toggleSexDecMode">deg</span>
                <mat-error *ngIf="ra?.invalid">
                  {{ getErrorMessage(ra) }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="declination">
              <mat-form-field
                floatLabel="always">
                <mat-label>Declination</mat-label>
                <input
                  matInput
                  type="text"
                  required
                  [attr.placeholder]="decPlaceholder"
                  formControlName="dec"
                  [attr.title]="decTitle"
                  (ngModelChange)="paramChange()"
                  (blur)="onRaDecBlur('dec')">
                  <span matSuffix *ngIf="toggleSexDecMode">deg</span>
                <mat-error *ngIf="dec?.invalid">
                  {{ getErrorMessage(dec) }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field
                floatLabel="always">
                <mat-label>Minimum Elevation</mat-label>
                <input matInput
                       name="minElevation"
                       type="number"
                       formControlName="minElevation"
                       title="Minimum elevation of observation"
                       required
                       min="15"
                       max="90"
                       (ngModelChange)="paramChange()">
                <span matSuffix
                      class="mat-form-field-suffix"
                      [class.disabled]="minElevation?.disabled">deg</span>
                <mat-error *ngIf="minElevation?.invalid">
                  {{ getErrorMessage(minElevation) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-expansion-panel id="continuumExpansionPanel" class="remove-padding" (opened)="panelContinuumOpened=true" (closed)="panelContinuumOpened=false" expanded={{panelContinuumOpened}}>
          <mat-expansion-panel-header expandedHeight="36px">
              <mat-panel-title>
              Continuum
              </mat-panel-title>
          </mat-expansion-panel-header>
          <app-continuum-panel [selectedSubarray]="selectedSubarrayy" [lowContinuumResults]="continnumResults$ | async"></app-continuum-panel>
      </mat-expansion-panel>

        <mat-expansion-panel id="zoomExpansionPanel" style="margin-top: 10px" class="remove-padding" (opened)="panelZoomOpened=true"
                             (closed)="panelZoomOpened=false" expanded={{panelZoomOpened}} disabled="{{zoomModeDisabled}}">
          <mat-expansion-panel-header expandedHeight="36px">
              <mat-panel-title>
              Zoom Window
              </mat-panel-title>
          </mat-expansion-panel-header>
          <app-zoom-panel [selectedSubarray]="selectedSubarrayy" [lowZoomResults]="zoomResults$ | async"></app-zoom-panel>
        </mat-expansion-panel>

        <mat-expansion-panel [disabled]="pssPanelDisabled" id="pssExpansionPanel" style="margin-top: 10px" class="remove-padding" (opened)="panelPssOpened=true" (closed)="panelPssOpened=false" expanded={{panelPssOpened}}>
          <mat-expansion-panel-header expandedHeight="36px">
              <mat-panel-title>
              Pulsar Search (PSS)
              </mat-panel-title>
          </mat-expansion-panel-header>
          <app-pss-panel [lowPssResults]="pssResults$ | async"></app-pss-panel>
        </mat-expansion-panel>

        <br>

        <div class="button-select-flex">
          <button mat-raised-button color="warn" matTooltip="Click to calculate sensitivity"
                  [disabled]="!isCalculateBtnEnabled()"
                  matTooltipPosition="right"
                  type="button"
                  (click)="onSubmit()">
            Calculate
          </button>
          <button mat-raised-button matTooltip="Click to reset the form"
                  matTooltipPosition="left"
                  type="button"
                  [disabled]="!isResetBtnEnabled()"
                  (click)="onReset()">
            Reset
          </button>
        </div>
        <div>
            <b>Note:</b> The theoretical sensitivity is computed using direction, frequency, and LST-dependent SEFD values following the procedure described in <i><a href="https://doi.org/10.1017/pasa.2021.63" taret="_blank">Sokolowski et al. (2022)</a></i>.
        </div>
      </div>
    </form>
  </mat-card>
</div>
</div>
