<div class="container">
    <div class="skao-spacer"></div>
    <div class="mat-app-background">
        <mat-card class="main-mat-card">
            <form [formGroup]="form">
                <div class="layout">

                  <div class="commonRow">

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldObservingMode.description}}>
                        <mat-label>{{fieldObservingMode.title}}</mat-label>
                        <mat-select id="midBandSelect"
                                    formControlName="{{fieldObservingMode.field}}"
                                    (selectionChange)="onObservingModeChange($event.value)">
                          <mat-option *ngFor="let mode of fieldObservingMode.defaultValue"
                                      [value]="mode.mode">{{mode.mode}} {{mode.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldWeatherPWV.description}}>
                        <mat-label>{{fieldWeatherPWV.title}}</mat-label>
                        <input type="number" matInput placeholder="{{fieldWeatherPWV.placeholder}}"
                               id="txtWeatherPWV"
                               min="{{fieldWeatherPWV.defaultValue.min}}"
                               max="{{fieldWeatherPWV.defaultValue.max}}"
                               formControlName="{{fieldWeatherPWV.field}}"
                               (ngModelChange)="paramChange()"
                               required>
                        <span matSuffix class="mat-form-field-suffix">mm</span>
                        <mat-error id="errWeatherPWV">
                          {{getErrorMessage('fieldWeatherPWV')}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="commonRow">
                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldArrayConfig.description}}>
                      <mat-label>{{fieldArrayConfig.title}}</mat-label>
                        <mat-select id="midSubarraySelect"
                                    formControlName="{{fieldArrayConfig.field}}"
                                    (selectionChange)="onSelectSubarray($event.value)"
                        required>
                          <ng-container *ngFor="let subarray of subarrayOptions">
                            <mat-option *ngIf=showArray(subarray) [value]="subarray">
                              {{subarray.label}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                        <mat-hint *ngIf="subarrayQueryFailed">
                          {{getArrayMessage()}}
                        </mat-hint>
                        <mat-hint *ngIf="restrictedFrequencyMessage() as infoMessage">{{infoMessage}}</mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldnSKA.description}}>
                        <mat-label>{{fieldnSKA.title}}</mat-label>
                        <input
                          matInput
                          name="fieldnSKA"
                          type="number"
                          formControlName="fieldnSKA"
                          placeholder= "Enter value..."
                          required
                          min="0"
                          max="133"
                          (ngModelChange)="antennaParamChange()">
                        <mat-error *ngIf="form.controls['fieldnSKA'].invalid">
                          {{ getErrorMessage("fieldnSKA") }}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldnMeer.description}}>
                        <mat-label>{{fieldnMeer.title}}</mat-label>
                        <input
                          matInput
                          name="fieldnMeer"
                          type="number"
                          formControlName="fieldnMeer"
                          placeholder= "Enter value..."
                          required
                          min="0"
                          max="64"
                          (ngModelChange)="antennaParamChange()">
                        <mat-error *ngIf="form.controls['fieldnMeer'].invalid">
                          {{ getErrorMessage("fieldnMeer") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="commonRow">

                    <div class="vertical-align">
                      Degrees
                      <mat-slide-toggle #sexDecToggle (change)="onSexDecChange($event)"
                                        data-cy="sexDecToggle"
                                        matTooltip="Input in sexagesimal format or decimal degrees"
                                        aria-label="Input in sexagesimal format or decimal degrees"></mat-slide-toggle>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldRightAscension.description}}>
                        <mat-label>{{fieldRightAscension.title}}</mat-label>
                        <input matInput placeholder="{{fieldRightAscension.placeholder}}"
                               id="txtRightAscension"
                               formControlName="{{fieldRightAscension.field}}"
                               (ngModelChange)="paramChange()"
                               (blur)="onRaDecBlur(fieldRightAscension.field)">
                               <span matSuffix *ngIf="toggleSexDecMode">deg</span>
                               <mat-error id="errRightAscension">
                          {{getErrorMessage('fieldRightAscension')}}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldDeclination.description}}>
                        <mat-label>{{fieldDeclination.title}}</mat-label>
                        <input matInput placeholder="{{fieldDeclination.placeholder}}"
                               id="txtDeclination"
                               formControlName="{{fieldDeclination.field}}"
                               (ngModelChange)="decParamChange()"
                               (blur)="onRaDecBlur(fieldDeclination.field)">
                        <span matSuffix *ngIf="toggleSexDecMode">deg</span>
                        <mat-error id="errDeclination">
                          {{getErrorMessage('fieldDeclination')}}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="commonRowItem">
                      <mat-form-field floatLabel="always" title={{fieldElevation.description}}>
                        <mat-label>{{fieldElevation.title}}</mat-label>
                        <input type="number" matInput placeholder="{{fieldElevation.placeholder}}"
                               id="txtElevation"
                               min="{{fieldElevation.defaultValue.min}}"
                               max="{{fieldElevation.defaultValue.max}}"
                               formControlName="{{fieldElevation.field}}"
                               (ngModelChange)="paramChange()"
                               required>
                        <span matSuffix class="mat-form-field-suffix" [class.disabled]="form.controls['fieldElevation'].disabled">deg</span>
                        <mat-error id="errElevation">
                          {{getErrorMessage('fieldElevation')}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="configuration?.advancedModeActive && toggleAdvancedMode">
                    <app-advanced-mode [selectedsubarrayType]="selectedSubarray"></app-advanced-mode>
                  </div>

                   <mat-expansion-panel id="continuumExpansionPanel" class="remove-padding" (opened)="panelContinuumOpened=true" (closed)="panelContinuumOpened=false" expanded={{panelContinuumOpened}}>
                        <mat-expansion-panel-header expandedHeight="36px">
                            <mat-panel-title id="continuumExpansionTitle">Continuum</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-continuum-panel [observingMode]="selectedObservingMode" [subarrayType]="selectedSubarray" [continuumResults]="continuumResults$ | async"></app-continuum-panel>
                    </mat-expansion-panel>

                    <mat-expansion-panel id="zoomExpansionPanel" style="margin-top: 10px" class="remove-padding" disabled={{zoomModeDisabled}} (opened)="panelZoomOpened=true" (closed)="panelZoomOpened=false" expanded={{panelZoomOpened}}>
                        <mat-expansion-panel-header expandedHeight="36px">
                            <mat-panel-title id="zoomExpansionTitle">Zoom Window</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-zoom-panel [observingMode]="selectedObservingMode" [subarrayType]="selectedSubarray" [zoomResults]="zoomResults$ | async"></app-zoom-panel>
                    </mat-expansion-panel>

                    <div class="button-select-flex">
                        <button mat-raised-button color="warn" id="midCalculateButton" matTooltip="Click to calculate sensitivity" [disabled]="!isCalculateBtnEnabled()"
                            matTooltipPosition="right" type="button" (click)="onSubmit()">
                            Calculate
                        </button>
                        <button mat-raised-button matTooltip="Click to reset the form" matTooltipPosition="left"
                            type="button" (click)="onReset()">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
