.layout {
  display: flex;
  flex-direction: column;
}

div.commonRowItem {
  // divs are the column items in the common panel: subarray, coords, etc.
  display: flex;
  flex-direction: column;
}

div.commonRow {
  display: flex;
  flex-direction: row;
  flex: auto;
  gap: 10px;

  div, div mat-form-field {
    width: 100%; // requests full width but as the flex row doesn't wrap, this will shrink to reflect number of items in row
  }
}

.matSuffix {
    position: relative;
    bottom: 8px;
}

.mat-expansion-panel-header{
    font-size: 16px;
}

.button-select-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advanced-mode-wrapper {
    margin-bottom: 10px;
}

@media screen and (min-width: 651px) {
    .button-description {
        font-size: 1em;
    }
}

@media screen and (max-width: 810px) {
    .button-description {
        font-size: 7px;
    }
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-form-field-suffix.disabled {
    color: #aaa9a9;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 10px;
    max-width: 30px;
    margin-top: 5px;
  }
